article {
    margin-top: 75px;
    padding-top: 20px;
}

.title {
    font-size: 66px;
    color: #ffffff;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,ui-sans-serif,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,Arial;
}

.title span {
    color: #37FF8B;
}

.havefun {
    display: block;
    position: fixed;
    right: 20px;
    top: 80px;
    width: 75px;
    height: 125px;
    z-index: 999;
    background-image: url(../animals-sequencer/images/distortion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: top-to-left 1.5s ease-in-out;
    transition: all 1.5s cubic-bezier(0.14, 0.4, 0.09, 0.99);
}

.havefun:hover {
    transform: scale(1.15);
}

.havefun a {
    display: block;
    width: 100%;
    height: 100%;
}

.backtotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 10%;
    z-index: 999;
}

.backtotop button {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    color: #ababab;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    background: 0 0;
    overflow-y: visible;
    animation: top-to-left 1s ease;
    transition: all 1s ease;
}

.backtotop button:hover {
    color: #ffffff;
}

@keyframes top-to-left {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.backtotop button span svg path {
    transform: scale(2.5);
}

@keyframes left-move {
    0% {
        transform: translate(500px);
    }
    100% {
        transform: translate(0px);
    }
}

.body-container {
    display: flex;
    position: relative;
    z-index: 1;
}

.body-container .body-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 50px 50px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.body-container .body-overview h1 {
    margin: 10px 0 50px;
    height: 66px;
    width: 100%;
    overflow: hidden;
}

.body-container .body-overview h1 span {
    display: block;
    color: #38ff8b;
    font-weight: 900;
    font-size: 66px;
    line-height: 66px;
    z-index: 2;
    text-align: center;
}

.body-container .body-overview .mdb1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0;
    height: 400px;
    width: 95%;
    background-color: transparent;
    overflow: hidden;
}

.body-container .body-overview .mdb1 .image-box {
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.body-container .body-overview .mdb1 .image-box .image1 {
    height: 100%;
    width: 100%;
    background-image: url(../images/concert-low.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    filter: blur(20px);
    transition: filter 1s ease;
}

.body-container .body-overview .mdb1 .image-box .image1.loaded  {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../images/concert.jpg);
    filter: blur(0);
}

.body-container .body-overview .mdb1 .image-box .image1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mingcheng {
    position: relative;
    width: 55%;
    padding: 0 50px;
    text-align: left;
    color: #ffffff;
}

.body-container .body-overview .mingcheng p {
    margin: 10px 0;
}

.body-container .body-overview .mingcheng .mingcheng1 {
    font-size: 24px;
    font-weight: 700;
    color: #38ff8b;
}

.body-container .body-overview .mingcheng .mingcheng2 {
    font-size: 22px;
    font-weight: 900;
}

.body-container .body-overview .mingcheng .mingcheng3 {
    font-size: 14px;
}

.body-container .body-overview .mingcheng .mingcheng4 {
    font-size: 14px;
    line-height: 12px;
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0;
    height: 400px;
    width: 95%;
    background-color: transparent;
    overflow: hidden;
}

.body-container .body-overview .mdb2 .image-box {
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.body-container .body-overview .mdb2 .image-box .image2 {
    height: 100%;
    width: 100%;
    background-image: url(../images/cosmicr-low.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    filter: blur(20px);
    transition: filter 1s ease;
}

.body-container .body-overview .mdb2 .image-box .image2.loaded  {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../images/cosmicr.JPG);
    filter: blur(0);
}

.body-container .body-overview .mdb2 .image-box .image2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0;
    height: 400px;
    width: 95%;
    background-color: transparent;
    overflow: hidden;
}

.body-container .body-overview .mdb3 .image-box {
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.body-container .body-overview .mdb3 .image-box .image3 {
    height: 100%;
    width: 100%;
    background-image: url(../works/materials/cosmicr3-low.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    filter: blur(20px);
    transition: filter 1s ease;
}

.body-container .body-overview .mdb3 .image-box .image3.loaded  {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../works/materials/cosmicr3.png);
    filter: blur(0);
}

.body-container .body-overview .mdb3 .image-box .image3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0;
    height: 400px;
    width: 95%;
    background-color: transparent;
    overflow: hidden;
}

.body-container .body-overview .mdb4 .image-box {
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.body-container .body-overview .mdb4 .image-box .image4 {
    height: 100%;
    width: 100%;
    background-image: url(../images/Sound·East·Strike·West-low.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    filter: blur(20px);
    transition: filter 1s ease;
}

.body-container .body-overview .mdb4 .image-box .image4.loaded  {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../images/Sound·East·Strike·West.png);
    filter: blur(0);
}

.body-container .body-overview .mdb4 .image-box .image4:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0;
    height: 400px;
    width: 95%;
    background-color: transparent;
    overflow: hidden;
}

.body-container .body-overview .mdb5 .image-box {
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.body-container .body-overview .mdb5 .image-box .image5 {
    height: 100%;
    width: 100%;
    background-image: url(../images/ECHOESOFEXISTENCE-low.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    filter: blur(20px);
    transition: filter 1s ease;
}

.body-container .body-overview .mdb5 .image-box .image5.loaded  {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../images/ECHOESOFEXISTENCE.jpg);
    filter: blur(0);
}

.body-container .body-overview .mdb5 .image-box .image5:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0;
    height: 400px;
    width: 95%;
    background-color: transparent;
    overflow: hidden;
}

.body-container .body-overview .mdb6 .image-box {
    height: 100%;
    width: 45%;
    overflow: hidden;
}

.body-container .body-overview .mdb6 .image-box .image6 {
    height: 100%;
    width: 100%;
    background-image: url(../images/ShanghaiTheatreAcademy-low.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    filter: blur(20px);
    transition: filter 1s ease;
}

.body-container .body-overview .mdb6 .image-box .image6.loaded  {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../images/ShanghaiTheatreAcademy.jpg);
    filter: blur(0);
}

.body-container .body-overview .mdb6 .image-box .image6:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

/* ---------------------------------------------------------------- */
