article {
    margin-top: 75px;
    padding-top: 20px;
}

.title {
    font-size: 66px;
    color: #ffffff;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,ui-sans-serif,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,Arial;
}

.title span {
    color: #37FF8B;
}

.havefun {
    display: block;
    position: fixed;
    right: 20px;
    top: 80px;
    width: 75px;
    height: 125px;
    z-index: 999;
    background-image: url(../animals-sequencer/images/distortion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: top-to-left 1.5s ease-in-out;
    transition: all 1.5s cubic-bezier(0.14, 0.4, 0.09, 0.99);
}

.havefun:hover {
    transform: scale(1.15);
}

.havefun a {
    display: block;
    width: 100%;
    height: 100%;
}

.backtotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 10%;
    z-index: 999;
}

.backtotop button {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    color: #ababab;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    background: 0 0;
    overflow-y: visible;
    animation: top-to-left 1s ease;
    transition: all 1s ease;
}

.backtotop button:hover {
    color: #ffffff;
}

@keyframes top-to-left {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.backtotop button span svg path {
    transform: scale(2.5);
}

@keyframes left-move {
    0% {
        transform: translate(500px);
    }
    100% {
        transform: translate(0px);
    }
}

.body-container {
    display: flex;
    position: relative;
    z-index: 1;
}

.body-container .body-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px 50px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.body-container .body-overview a {
    position: relative;
    margin: 20px 0;
    height: 400px;
    width: 32%;
    overflow: hidden;
    border-radius: 10px;
}

.body-container .body-overview h1 {
    margin: 10px 0 50px;
    width: 100%;
    overflow: hidden;
}

.body-container .body-overview h1 span {
    display: block;
    color: #38ff8b;
    font-weight: 900;
    font-size: 66px;
    line-height: 66px;
    z-index: 2;
    text-align: center;
}

.body-container .body-overview .mdb1 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news1-low.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

.body-container .body-overview .mdb1.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    background-image: url(../images/news1.png);
}

.body-container .body-overview .mdb1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mingcheng {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    color: #ffffff;
}

.body-container .body-overview .mdb1:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mingcheng p {
    margin-bottom: 5px;
}

.body-container .body-overview .mingcheng .mingcheng1 {
    font-size: 24px;
    font-weight: 700;
    color: #38ff8b;
}

.body-container .body-overview .mingcheng .mingcheng2 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: .1rem;
}

.body-container .body-overview .mingcheng .mingcheng3 {
    font-size: 16px;
}

.body-container .body-overview .mingcheng .mingcheng4 {
    font-size: 16px;
}

.body-container .body-overview .mengban {
    width: 100%;
    height: 0;
    transition: all 0.5s ease-out;
}

.body-container .body-overview .mdb1:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb2 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transition: filter 0.5s ease;
}

.body-container .body-overview .mdb2.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    filter: blur(0);
}

.body-container .body-overview .mdb2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mdb2:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mdb2:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb3 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transition: filter 0.5s ease;
}

.body-container .body-overview .mdb3.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    filter: blur(0);
}

.body-container .body-overview .mdb3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mdb3:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mdb3:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb4 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transition: filter 0.5s ease;
}

.body-container .body-overview .mdb4.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    filter: blur(0);
}

.body-container .body-overview .mdb4:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mdb4:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mdb4:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb5 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transition: filter 0.5s ease;
}

.body-container .body-overview .mdb5.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    filter: blur(0);
}

.body-container .body-overview .mdb5:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mdb5:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mdb5:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb6 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transition: filter 0.5s ease;
}

.body-container .body-overview .mdb6.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    filter: blur(0);
}

.body-container .body-overview .mdb6:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mdb6:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mdb6:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */

.body-container .body-overview .mdb7 {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-image: url(../images/news7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transition: filter 0.5s ease;
}

.body-container .body-overview .mdb7.loaded {
    transition: all 2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
    filter: blur(0);
}

.body-container .body-overview .mdb7:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .2);
}

.body-container .body-overview .mdb7:hover .mingcheng {
    opacity: 1;
    transform: scale(0.9);
}

.body-container .body-overview .mdb7:hover .mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

/* ---------------------------------------------------------------- */